---
layout: default
---

<div class="bio">
  <p class="about-img"><img src="{{ site.avatar }}" alt="Gabriele Berton" /></p>

  <p>Hi, I’m Gabriele and I'm a PhD student in deep learning and computer vision. <br>
  </p>

  <p>
    <a href="https://raw.githubusercontent.com/gmberton/gmberton.github.io/master/resources/CV.pdf">CV</a> /
    <a href="https://scholar.google.com/citations?user=pc_rMSMAAAAJ">Google Scholar</a> /
    <a href="mailto:gabri.berton@gmail.com">Email</a>
  </p>

</div>


<div class="papers">
  <h2>Publications</h2>
  {% assign papers = site.papers | reverse %}
  {% for paper in papers %}
    <article class="paper">

      <p><a href="{{ paper.link }}"><b>{{ paper.title }}</b></a>, <br>
      {{ paper.authors }},<br>
      {{ paper.conference }}<br>
        <a href="{{ paper.url }}">Bib file</a>
        {% if paper.arxiv %}
        / <a href="{{ paper.arxiv }}">Arxiv</a>
        {% endif %}
        {% if paper.code %}
        / <a href="{{ paper.code }}">Code</a>
        {% endif %}
        {% if paper.website %}
        / <a href="{{ paper.website }}">Website</a>
        {% endif %}
      </p>
    </article>
  {% endfor %}

  <p><a href="{{ site.baseurl }}/bib">Full bib file.</a></p>
</div>
